
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DemoViewData</title>
</head>
<body>
    <h1>Demo View Data</h1>
    <h3>Welcome @ViewData["Name"]</h3> @*lấy value name bên hàm DemoViewData trong homecontroller.cs*@
    <h4><a href="/Home/HtmlMethod">Another view</a></h4> @*chú ý ko có đuôi .cshtml**@
</body>
</html>
