@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>
    <h1>Đây là trang Admin</h1>
    @* Tạo link tới trang Show, create và remove *@
    <h3><a href="/News/Show">Show all News</a></h3>
    <h3><a href="/News/Create">Create the News</a></h3>
    <h3><a href="/News/Remove">Remove the News</a></h3>
</body>
</html>
